/* Main body CSS*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Great+Vibes&family=Raleway:ital,wght@0,100;0,400;1,100&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
  min-height: 100vh;
}

/* Main header/ Nav section */

.active {
  border-bottom: 1px solid #add8e6;
}

h1 {
  font-family: Cormorant Garamond, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
  float: left;
  font-weight: 100;
  font-size: 300%;
  margin: 30px 0 0 20px;
}

header {
  background-color: #bebebe;
  margin: -20px 0 0 -10px;
  width: 100%;
  height: 120px;
}

.navlinks li {
  font-family: raleway, sans-serif;
  color: white;
  float: right;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 30px;
}

.navlinks a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.navlinks a:hover {
  color: #add8e6;
  text-decoration: none;
}

/* First section */

.firstsectionbg {
  height: 500px;
  width: 100%;
  background-image: url("./images/mainbgimg.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  position: relative;
  margin: -100px 15px 40px -10px;
}

.slogan {
  font-family: raleway, sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  width: 40%;
  text-align: center;
  color: white;
  background-color: #bebebe;
  padding-top: 2%;
  margin-left: 30px;
  margin-top: 100px;
  opacity: 0.7;
  border-radius: 5%;
  padding-bottom: 100px;
  position: relative;
  top: 100px;
}

.slogan2 {
  margin-top: 10%;
  text-align: center;
}

.consultation-button {
  font-family: raleway, sans-serif;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: #949494;
  background-color: white;
}

.consultation-button:hover {
  color: #add8e6;
}

/* Second section */

.secondsection {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 100px;
  overflow: visible;
  text-align: center;
}

.dermal-fillers {
  background-image: url("./images/lip-filler.jpg");
  height: 300px;
  width: 32%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6%;
}

.dermal-fillers > p {
  background-color: #bebebe;
  opacity: 0.7;
  font-family: raleway, sans-serif;
  height: 30%;
  width: 35%;
  border-radius: 6%;
  color: white;
  font-size: 25px;
  text-align: center;
  left: 330px;
  bottom: 20px;
  font-weight: 400;
  position: inherit;
}

.section-2-text {
  padding-top: 25px;
  position: absolute;
}

.chemical-peels {
  background-image: url("./images/chemicalpeel.jpg");
  height: 300px;
  width: 32%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6%;
  margin: 0 8px 0 8px;
}

.chemical-peels > p {
  background-color: #bebebe;
  opacity: 0.7;
  font-family: raleway, sans-serif;
  height: 30%;
  width: 35%;
  border-radius: 6%;
  color: white;
  font-size: 25px;
  text-align: center;
  left: 30px;
  bottom: 20px;
  font-weight: 400;
  position: inherit;
}

.botox {
  background-image: url("./images/botox.jpg");
  height: 300px;
  width: 32%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6%;
}

.botox > p {
  background-color: #bebebe;
  opacity: 0.7;
  font-family: raleway, sans-serif;
  height: 30%;
  width: 35%;
  border-radius: 6%;
  color: white;
  font-size: 25px;
  text-align: center;
  left: 320px;
  bottom: 10px;
  font-weight: 400;
  position: inherit;
}

/* 3rd section/ where to find us/Reviews*/

.section3 {
  text-align: center;
  position: static;
}

.section3 > img {
  width: 300px;
  height: 150px;
  margin-top: -150px;
}

.where-to-find-us {
  font-family: raleway, sans-serif;
  font-size: 30px;
  color: #949494;
  text-align: left;
  margin-left: 15%;
}

.map {
  width: 48%;
  border-radius: 6%;
  text-align: left;
  float: left;
  margin: 20px 0 50px 0;
}

.reviews {
  background-color: #bebebe;
  color: white;
  border-radius: 6%;
  font-family: raleway, sans-serif;
  font-style: italic;
  font-size: 130%;
  width: 48%;
  text-align: left;
  float: right;
  height: 450px;
  padding-top: 10px;
}
.reviews > p {
  margin: 40px;
}
/* Footer */
footer {
  background-color: #bebebe;
  color: white;
  width: 100%;
  font-size: 20px;
  letter-spacing: 10px;
  background-position: 100%;
  margin-bottom: -500px;
  display: flex;
  flex-direction: column;
}

.socials {
  text-align: center;
}

.socials > li {
  display: inline;
}

.socials i {
  font-size: 160%;
  margin: 1%;
  padding: 1%;
  color: white;
  position: relative;
  bottom: 10px;
}

.footerlogo {
  float: left;
  position: relative;
  bottom: 50px;
  width: 45%;
}

/* Gallery */

.photos {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}

.photos > img {
  width: 100%;
}

/* Contact us Page */

.form {
  background-color: #bebebe;
  opacity: 0.7;
  width: 48%;
  height: 500px;
  margin: 10px 20px 10px 20px;
  border-radius: 6%;
}
label {
  border: none;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
label {
  width: 75%;
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: raleway, sans-serif;
}
.enquiry {
  width: 90%;
  height: 125px;
  text-align: left;
}

.form > input {
  margin: 20px;
}

input[type="submit"] {
  width: 150px;
  font-family: raleway, sans-serif;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: #949494;
  background-color: white;
  margin: 1% 40% 10% 40%;
}

input[type="submit"]:hover {
  color: #add8e6;
}
.contact-details {
  background-color: #bebebe;
  opacity: 0.7;
  width: 48%;
  height: 500px;
  margin: -510px 20px 10px 20px;
  border-radius: 6%;
  float: right;
}

.contact-icons {
  font-size: 25px;
  color: white;
  list-style: none;
}

.contact-icons > li {
  margin: 50px;
  text-align: center;
}

i {
  padding: 20px;
}

/* About us Page */

.about-us-area {
  background-color: #bebebe;
  color: white;
  font-family: raleway, sans-serif;
  margin: 20px;
  padding: 15px;
  height: 700px;
  text-align: center;
  border-radius: 6%;
  float: left;
  line-height: 30px;
  word-spacing: 3px;
}

.about-us-area > img {
  height: 300px;
  width: 300px;
  margin: 15px;
  float: left;
  border-radius: 6%;
  position: relative;
}

.signature {
  color: white;
  font-family: great vibes, sans-serif;
  font-size: 50px;
}

/*Responsive design/ Media Querys*/

@media only screen and (max-width: 600px) {
  header {
    height: 20git %;
  }
  h1 {
    font-size: 200%;
  }
  .navlinks {
    font-size: 80%;
    padding-bottom: 0px;
  
    

  }

  .navlinks > li {
    margin-top: 5%;
    float: right;
    
  }
  .firstsectionbg {
    background-image: url("./images/smallerbg.jpg");
    background-size: cover;
  }
  .slogan {
    width: 90%;
  }
  .dermal-fillers,
  .chemical-peels,
  .botox {
    width: 100%;
    margin: 5px;
  }

  .map {
    width: 100%;
  }
  .reviews {
    width: 100%;
    margin-bottom: 20px;
    font-size: 120%;
  }
  .where-to-find-us {
    text-align: center;
    margin-top: 40px;
  }
  .section3 > img {
    margin: 0px;
  }
}
