/* Main body CSS*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Raleway:wght@100;400&display=swap");

html, body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

body {
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}

/* Main header/ Nav section */

.active {
  border-bottom: 1px solid #add8e6;
}

h1 {
  font-family: Cormorant Garamond, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
  float: left;
  font-weight: 100;
  font-size: 50px;
  margin: 30px 0 0 20px;
}

header {
  background-color: #bebebe;
  margin: -20px 0 0 -10px;
  width: 100%;
  height: 120px;
}

#navlinks li {
  font-family: raleway, sans-serif;
  color: white;
  float: right;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 30px;
}

#navlinks a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}

#navlinks a:hover {
  color: #add8e6;
  text-decoration: none;
}

/* First section */

#firstsectionbg {
  height: 500px;
  width: 100%;
  background-image: url("/images/mainbgimg.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  position: relative;
  margin: -100px 15px 40px -10px;
}

#slogan {
  font-family: raleway, sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  width: 40%;
  text-align: center;
  color: white;
  background-color: #bebebe;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 30px;
  margin-top: 100px;
  opacity: 0.7;
  border-radius: 5%;
  padding-bottom: 100px;
  position: relative;
  top: 100px;
}

#slogan2 {
  margin-top: 10%;
  text-align: center;
}

#consultation-button {
  font-family: raleway, sans-serif;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: #949494;
  background-color: white;
}

#consultation-button:hover {
  color: #add8e6;
}

/* Second section */

#secondsection {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 100px;
  overflow: visible;
}

#dermal-fillers {
  background-image: url("/images/lip-filler.jpg");
  height: 300px;
  width: 32%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6%;
}

#dermal-fillers > p {
  background-color: #bebebe;
  opacity: 0.7;
  font-family: raleway, sans-serif;
  height: 30%;
  width: 35%;
  border-radius: 6%;
  color: white;
  font-size: 25px;
  text-align: center;
  position: relative;
  left: 330px;
  bottom: 20px;
  font-weight: 400;
  position: inherit;
}

.section-2-text {
  padding-top: 25px;
  position: absolute;
}

#chemical-peels {
  background-image: url("/images/chemicalpeel.jpg");
  height: 300px;
  width: 32%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6%;
  margin: 0 8px 0 8px;
}

#chemical-peels > p {
  background-color: #bebebe;
  opacity: 0.7;
  font-family: raleway, sans-serif;
  height: 30%;
  width: 35%;
  border-radius: 6%;
  color: white;
  font-size: 25px;
  text-align: center;
  position: relative;
  left: 30px;
  bottom: 20px;
  font-weight: 400;
  position: inherit;
}

#botox {
  background-image: url("/images/botox.jpg");
  height: 300px;
  width: 32%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6%;
}

#botox > p {
  background-color: #bebebe;
  opacity: 0.7;
  font-family: raleway, sans-serif;
  height: 30%;
  width: 35%;
  border-radius: 6%;
  color: white;
  font-size: 25px;
  text-align: center;
  position: relative;
  left: 320px;
  bottom: 10px;
  font-weight: 400;
  position: inherit;
}

/* 3rd section/ where to find us*/

#where-to-find-us {
}

#where-to-find-us > h2 {
  font-family: raleway, sans-serif;
  color: #949494;
  position: relative;
  left: 20%;
}

#map {
  width: 50%;
  border-radius: 6%;
}